{
  "version": 1.0,
  "project": "XYZ-JavaVulnerableLabE-master",
  "policy":"",
  "sast": {
    "preset": "",
    "engineConfiguration": "",
    "incremental": false,
    "forceScan": true,
    "fileExcludes": "*.java",
    "folderExcludes": ".idea/"
  },
  "additionalProperties": {
    "cxFlow": {
      "branches": ["develop", "main", "master","master-1"]
    },
    "filters": {
      "severity": ["High", "Medium"]
    }
  }

}
