{
  "version": 1.0,
  "project": "XYZ-JavaVulnerableLabE-master",
  "policy":"",
  "sast": {
    "preset": "",
    "engineConfiguration": "",
    "incremental": false,
    "forceScan": true,
   "fileExcludes":"**\/*.java, **\/*.js",
    "folderExcludes": ""
  },
  "additionalProperties": {
    "cxFlow": {
    },
    "filters": {
      "severity": ["High", "Medium"]
    }
  }

}
